<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>18/11/19 01:12:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>18/11/19 01:13:20</td>   <td>25358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>18/11/19 01:12:38</td>   <td>-17029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC006_DeleteLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">createLead</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>18/11/19 01:13:04</td>   <td>9427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC006_DeleteLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">createLead</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>18/11/19 01:12:22</td>   <td>-33241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>18/11/19 01:12:57</td>   <td>2346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="7fd0e6">  <td>18/11/19 01:12:21</td>   <td>-33275</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC006_DeleteLead.setData()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>18/11/19 01:12:21</td>   <td>-33989</td> <td title="&gt;&gt;Reporter.startResult()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>18/11/19 01:12:22</td>   <td>-33259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>18/11/19 01:12:57</td>   <td>2344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.startTestCase()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>18/11/19 01:13:23</td>   <td>27742</td> <td title="&lt;&lt;Reporter.stopResult()[pri:0, instance:tesatcasesweek6.TC006_DeleteLead@2ac273d3]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
