<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>19/01/08 09:25:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HandleWindowPopup.setup()[pri:0, instance:ctsquestion.HandleWindowPopup@4bec1f0c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>19/01/08 09:26:04</td>   <td>35872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HandleWindowPopup.windowpopup()[pri:0, instance:ctsquestion.HandleWindowPopup@4bec1f0c]">windowpopup</td> 
  <td>main@522764626</td>   <td></td> </tr>
</table>
